In [ ]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=c04d72a7028eac9bc99798330e243c1f6e66e9a67f3c301f2b13d6d70ed9dfab
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Fatma.csv')
print(df)

        year  month  day  order  ...  model photography  price  price 2 page
0       2021      4    1      1  ...                  1     28        2    1
1       2021      4    1      2  ...                  1     33        2    1
2       2021      4    1      3  ...                  1     52        1    1
3       2021      4    1      4  ...                  2     38        2    1
4       2021      4    1      5  ...                  2     52        1    1
...      ...    ...  ...    ...  ...                ...    ...      ...  ...
157796  2021      8    6     15  ...                  1     62        1    2
157797  2021      8    6     16  ...                  1     28        2    3
157798  2021      8    6     17  ...                  1     55        1    2
157799  2021      8    6     18  ...                  1     43        2    1
157800  2021      8    6     19  ...                  1     38        2    1

[157801 rows x 14 columns]

In [ ]:
nat_list = ["Australia","Austria","Belgium","British Virgin Islands","Cayman Islands","Christmas Island","Croatia","Cyprus","Czech Republic","Denmark","Estonia","unidentified","Faroe Islands","Finland","France","Germany","Greece","Hungary","Iceland","India","Ireland","Italy","Latvia","Lithuania","Luxembourg","Mexico","Netherlands","Spain","Tunisia","Turkey","Ukraine","United Arab Emirates","Uruguay","Uzbekistan","Venezuela","Vietnam","South Korea","South Africa","Singapore","United Arab Emirates","United Kingdom","USA","biz (*.biz)","com (*.com)","int (*.int)","net (*.net)","org (*.org)"]
nationalities = {}
for i in range(len(nat_list)):
  nationalities[i+1] = nat_list[i]
european =  [2,3,7,8,9,10,11,14,15,16,17,18, 19,21,22,23,24,25,27,28,31,41]
non_european = [1,4,5,6,12,13,20,26,30, 32,33,34,35,36,37,38,39,40,42,43,44,45,46,47]

In [ ]:
df_tun = df.loc[df["country"] == 29]
df_tun

In [ ]:
df_european = df.loc[df["country"].isin(european)]
df_european

In [ ]:
df_non_european = df.loc[df["country"].isin(non_european)]
df_non_european

** maximuim volume of sales (per period and per month)**

In [ ]:
def sum_sale(dataframe):
  orders_per_day = {}
  orders_per_month = {}
  for a in dataframe['year'].unique():
    for m in dataframe['month'].unique():
      sm = 0
      for j in dataframe['day'].unique():
        sj = len(dataframe['order'].loc[(dataframe['month'] == m) & (dataframe['day'] == j) & (dataframe['year']==a)])
        if sj != 0:
          orders_per_day[str(j)+"-"+str(m)+"-"+str(a)] = sj
        sm += sj  
      orders_per_month[m] = sm
  return orders_per_day, orders_per_month

In [ ]:
def max_sale(d):
  max = {}
  m = 0
  date = ""
  for k, v in d.items():
    if v>=m:
      m = v
      date = k
  max[date] = m
  return max

In [ ]:
orders_per_month

{4: 48199, 5: 35654, 6: 32242, 7: 35231, 8: 6475}

In [ ]:
orders_per_day, orders_per_month = sum_sale(df)
max_m = max_sale(orders_per_month)
max_d = max_sale(orders_per_day)

In [ ]:
print("max sale in day: ",max_d)
print("max sale in month: ",max_m)

max sale in day:  {'2-4-2021': 3456}
max sale in month:  {4: 48199}

** More sales in first/second/thrid 10days of the month **

In [ ]:
def max_periond_sale(dm,dd):
  months = dm.keys()
  list_max = []
  list_pp = []
  for m in months:
    period_per_month = {}
    pp = {}
    sb = sm = se = 0
    for k, v in dd.items():
      l = k.split("-")
      if int(l[1]) == m:
        if int(l[0]) in range(1,11):      
          sb +=v   
        if int(l[0]) in range(11,21):
          sm +=v
        if int(l[0]) in range(21,31):
          se +=v
    maximum = sb
    maximum_p = "begin_month"
    if sm>maximum:
      maximum = sm
      maximum_p = "middle_month"
    elif se>maximum:
      maximum = se
      maximum_p = "end_month"
    period_per_month["month"] = m
    period_per_month["max period sale"] = maximum_p
    period_per_month["number of transactions"] = maximum
    pp["month"] = m
    pp["begin_month"] =sb
    pp["middle_month"] =sm
    pp["end_month"] =se
    list_pp.append(pp)
    list_max.append(period_per_month)
    nb_begin = nb_middle = nb_end = 0
    for item in list_max:
      if item["max period sale"] == "begin_month":
        nb_begin +=1
      elif item["max period sale"] == "middle_month":
        nb_middle +=1
      elif item["max period sale"] == "end_month":
        nb_end +=1
    d1 = {"begin_month":nb_begin,"middle_month":nb_middle,"end_month":nb_end}
    mmx = d1["begin_month"]
    period = "begin_month"
    for k,v in d1.items():
      if v>mmx:
        mmx = v
        period= k
  return list_max,list_pp,mmx,period

In [ ]:
list_max,list_pp,mmx,period = max_periond_sale(orders_per_month,orders_per_day)
print(list_pp)
print(list_max)
print("The most sales is in the ",period)

[{'month': 4, 'begin_month': 19945, 'middle_month': 15073, 'end_month': 13181}, {'month': 5, 'begin_month': 10919, 'middle_month': 12153, 'end_month': 11961}, {'month': 6, 'begin_month': 11113, 'middle_month': 10864, 'end_month': 10265}, {'month': 7, 'begin_month': 10900, 'middle_month': 10983, 'end_month': 12150}, {'month': 8, 'begin_month': 6475, 'middle_month': 0, 'end_month': 0}]
[{'month': 4, 'max period sale': 'begin_month', 'number of transactions': 19945}, {'month': 5, 'max period sale': 'middle_month', 'number of transactions': 12153}, {'month': 6, 'max period sale': 'begin_month', 'number of transactions': 11113}, {'month': 7, 'max period sale': 'middle_month', 'number of transactions': 10983}, {'month': 8, 'max period sale': 'begin_month', 'number of transactions': 6475}]
The most sales is in the  begin_month

The function that find the most popular items that we are looking for

In [ ]:
def most_popular_x(dataframe,x):
  v = dataframe[x].value_counts()
  for m in dataframe[x].unique():
    if v[m] == max(v):
      return m,v[m]
  return None

The function that find the most popular items that we are looking for

In [ ]:
def show_most_x(df,x,nat,domain=None):
  cx,tran = most_popular_x(df,x)
  if x != "page 2 (clothing model)":
    print("The most popular ",x," among",nat,"users:",cx ,"(",domain[cx],")", ": ",tran,"transactions")
  else:
    print("The most popular ",x," among",nat,"users:",cx, ": ",tran,"transactions")

**Most popular model**

In [ ]:
show_most_x(df,'page 2 (clothing model)','all')
show_most_x(df_tun,'page 2 (clothing model)','Tunisian')
show_most_x(df_european,'page 2 (clothing model)','European')
show_most_x(df_non_european,'page 2 (clothing model)','Non European')

The most popular  page 2 (clothing model)  among all users: B4 :  3444 transactions
The most popular  page 2 (clothing model)  among Tunisian users: B4 :  2820 transactions
The most popular  page 2 (clothing model)  among European users: A2 :  602 transactions
The most popular  page 2 (clothing model)  among Non European users: A2 :  126 transactions

**Most popular category**

In [ ]:
cat = {1:"trousers",2:"skirts",3:"blouses",4:"sale"}

In [ ]:
show_most_x(df,'page 1 (main category)','all',cat)
show_most_x(df_tun,'page 1 (main category)','Tunisian',cat)
show_most_x(df_european,'page 1 (main category)','European',cat)
show_most_x(df_non_european,'page 1 (main category)','Non European',cat)

The most popular  page 1 (main category)  among all users: 1 ( trousers ) :  47348 transactions
The most popular  page 1 (main category)  among Tunisian users: 1 ( trousers ) :  35178 transactions
The most popular  page 1 (main category)  among European users: 1 ( trousers ) :  10439 transactions
The most popular  page 1 (main category)  among Non European users: 1 ( trousers ) :  1731 transactions

**Most popular colour**

In [ ]:
col = {1:"beige",2:"black",3:"blue",4:"brown",5:"burgundy",6:"gray",7:"green",8:"navy blue",9:"of many colors",10:"olive",11:"pink",12:"red",13:"violet",14:"white"}

In [ ]:
show_most_x(df,'colour','all',col)
show_most_x(df_tun,'colour','Tunisian',col)
show_most_x(df_european,'colour','European',col)
show_most_x(df_non_european,'colour','Non European',col)

The most popular  colour  among all users: 2 ( black ) :  28114 transactions
The most popular  colour  among Tunisian users: 2 ( black ) :  23132 transactions
The most popular  colour  among European users: 3 ( blue ) :  5468 transactions
The most popular  colour  among Non European users: 3 ( blue ) :  1092 transactions

**Most popular location**

In [ ]:
loc = {1:"top left",2:"top in the middle",3:"top right",4:"bottom left",5:"bottom in the middle",6:"bottom right"}

In [ ]:
show_most_x(df,'colour','all',loc)
show_most_x(df_tun,'colour','Tunisian',loc)
show_most_x(df_european,'colour','European',loc)
show_most_x(df_non_european,'colour','Non European',loc)

The most popular  colour  among all users: 2 ( top in the middle ) :  28114 transactions
The most popular  colour  among Tunisian users: 2 ( top in the middle ) :  23132 transactions
The most popular  colour  among European users: 3 ( top right ) :  5468 transactions
The most popular  colour  among Non European users: 3 ( top right ) :  1092 transactions

**Model / Category**

In [ ]:
def search_max(dx):
  m = 0
  for k,v in dx.items():
    if v>m:
      m = v
      mc = k
  return m,mc
def combinaison_result(dataframe,c1,c2):
  res = {}
  for c in dataframe[c2].unique():
    res[c] = dataframe[c1].loc[dataframe[c2] == c]
  return res
def maximum_combinaison(c1,c2,ds,c):
  d1 = ds
  max = {c2:c,c1:[]}
  for i in range(3):
    m,mc = search_max(d1)
    max[c1].append(mc)
    d1.pop(mc)
  return max
def show_combinaison_result(dataframe,c1,c2):
  d = combinaison_result(dataframe,c1,c2)
  
  for k in d.keys():
    dv = dict(d[k].value_counts())
    print(maximum_combinaison(c1,c2,dv,k))

In [ ]:
print("The most popular models among all users for each category:")
show_combinaison_result(df,'page 2 (clothing model)','page 1 (main category)')

The most popular models among all users for each category:
{'page 1 (main category)': 1, 'page 2 (clothing model)': ['A2', 'A11', 'A4']}
{'page 1 (main category)': 2, 'page 2 (clothing model)': ['B4', 'B10', 'B13']}
{'page 1 (main category)': 3, 'page 2 (clothing model)': ['C5', 'C17', 'C14']}
{'page 1 (main category)': 4, 'page 2 (clothing model)': ['P1', 'P16', 'P6']}

In [ ]:
print("The most popular models among Tunisian users for each category:")
show_combinaison_result(df_tun,'page 2 (clothing model)','page 1 (main category)')

The most popular models among Tunisian users for each category:
{'page 1 (main category)': 1, 'page 2 (clothing model)': ['A2', 'A11', 'A15']}
{'page 1 (main category)': 2, 'page 2 (clothing model)': ['B4', 'B10', 'B13']}
{'page 1 (main category)': 3, 'page 2 (clothing model)': ['C5', 'C17', 'C14']}
{'page 1 (main category)': 4, 'page 2 (clothing model)': ['P1', 'P16', 'P6']}

In [ ]:
print("The most popular models among European users for each category:")
show_combinaison_result(df_european,'page 2 (clothing model)','page 1 (main category)')

The most popular models among European users for each category:
{'page 1 (main category)': 2, 'page 2 (clothing model)': ['B4', 'B10', 'B1']}
{'page 1 (main category)': 3, 'page 2 (clothing model)': ['C5', 'C17', 'C56']}
{'page 1 (main category)': 4, 'page 2 (clothing model)': ['P1', 'P15', 'P6']}
{'page 1 (main category)': 1, 'page 2 (clothing model)': ['A2', 'A5', 'A11']}

In [ ]:
print("The most popular models among non European users for each category:")
show_combinaison_result(df_non_european,'page 2 (clothing model)','page 1 (main category)')

The most popular models among non European users for each category:
{'page 1 (main category)': 1, 'page 2 (clothing model)': ['A2', 'A5', 'A4']}
{'page 1 (main category)': 2, 'page 2 (clothing model)': ['B4', 'B1', 'B10']}
{'page 1 (main category)': 4, 'page 2 (clothing model)': ['P1', 'P16', 'P6']}
{'page 1 (main category)': 3, 'page 2 (clothing model)': ['C5', 'C1', 'C2']}

**Colour / Category**

In [ ]:
print("The most popular colour among all users for each category:")
show_combinaison_result(df,'colour','page 1 (main category)')

The most popular colour among all users for each category:
{'page 1 (main category)': 1, 'colour': [3, 2, 1]}
{'page 1 (main category)': 2, 'colour': [2, 12, 6]}
{'page 1 (main category)': 3, 'colour': [14, 6, 9]}
{'page 1 (main category)': 4, 'colour': [2, 4, 3]}

In [ ]:
print("The most popular colour among Tunisian for each category:")
show_combinaison_result(df_tun,'colour','page 1 (main category)')

The most popular colour among Tunisian for each category:
{'page 1 (main category)': 1, 'colour': [3, 2, 1]}
{'page 1 (main category)': 2, 'colour': [2, 12, 6]}
{'page 1 (main category)': 3, 'colour': [14, 6, 9]}
{'page 1 (main category)': 4, 'colour': [2, 4, 3]}

In [ ]:
print("The most popular colour among European for each category:")
show_combinaison_result(df_european,'colour','page 1 (main category)')

The most popular colour among European for each category:
{'page 1 (main category)': 2, 'colour': [2, 12, 9]}
{'page 1 (main category)': 3, 'colour': [14, 6, 9]}
{'page 1 (main category)': 4, 'colour': [2, 4, 9]}
{'page 1 (main category)': 1, 'colour': [3, 2, 1]}

In [ ]:
print("The most popular colour among NON European for each category:")
show_combinaison_result(df_non_european,'colour','page 1 (main category)')

The most popular colour among NON European for each category:
{'page 1 (main category)': 1, 'colour': [3, 2, 1]}
{'page 1 (main category)': 2, 'colour': [2, 12, 6]}
{'page 1 (main category)': 4, 'colour': [4, 2, 3]}
{'page 1 (main category)': 3, 'colour': [14, 6, 9]}

**Price**

In [ ]:
def price_pourcentage(dataframe,users):
  print("poucentage price for",users,"users")
  for k,v in cat.items():
    print("-",v)
    data = dataframe['price 2'].loc[dataframe["page 1 (main category)"] == k]
    dat = data.value_counts()
    d = dict(dat)
    print(d) 
    for k, v in d.items():
      pourcentage_prix = {}
      pourcentage_prix["price"] = k
      pourcentage_prix["pourcentage %"] = round((v*100)/len(df['price 2']),3)
      print(pourcentage_prix)

In [ ]:
price_pourcentage(df,"all")
price_pourcentage(df_tun,"Tunisian")
price_pourcentage(df_european,"European")
price_pourcentage(df_non_european,"Non European")

poucentage price for all users
- trousers
{2: 31200, 1: 16148}
{'price': 2, 'pourcentage %': 19.772}
{'price': 1, 'pourcentage %': 10.233}
- skirts
{1: 23733, 2: 13272}
{'price': 1, 'pourcentage %': 15.04}
{'price': 2, 'pourcentage %': 8.411}
- blouses
{1: 21074, 2: 15810}
{'price': 1, 'pourcentage %': 13.355}
{'price': 2, 'pourcentage %': 10.019}
- sale
{1: 19640, 2: 16924}
{'price': 1, 'pourcentage %': 12.446}
{'price': 2, 'pourcentage %': 10.725}
poucentage price for Tunisian users
- trousers
{2: 23346, 1: 11832}
{'price': 2, 'pourcentage %': 14.795}
{'price': 1, 'pourcentage %': 7.498}
- skirts
{1: 19123, 2: 10798}
{'price': 1, 'pourcentage %': 12.118}
{'price': 2, 'pourcentage %': 6.843}
- blouses
{1: 16278, 2: 11957}
{'price': 1, 'pourcentage %': 10.316}
{'price': 2, 'pourcentage %': 7.577}
- sale
{1: 18198, 2: 15847}
{'price': 1, 'pourcentage %': 11.532}
{'price': 2, 'pourcentage %': 10.042}
poucentage price for European users
- trousers
{2: 6708, 1: 3731}
{'price': 2, 'pourcentage %': 4.251}
{'price': 1, 'pourcentage %': 2.364}
- skirts
{1: 3733, 2: 2029}
{'price': 1, 'pourcentage %': 2.366}
{'price': 2, 'pourcentage %': 1.286}
- blouses
{1: 4013, 2: 3296}
{'price': 1, 'pourcentage %': 2.543}
{'price': 2, 'pourcentage %': 2.089}
- sale
{1: 1028, 2: 756}
{'price': 1, 'pourcentage %': 0.651}
{'price': 2, 'pourcentage %': 0.479}
poucentage price for Non European users
- trousers
{2: 1146, 1: 585}
{'price': 2, 'pourcentage %': 0.726}
{'price': 1, 'pourcentage %': 0.371}
- skirts
{1: 877, 2: 445}
{'price': 1, 'pourcentage %': 0.556}
{'price': 2, 'pourcentage %': 0.282}
- blouses
{1: 783, 2: 557}
{'price': 1, 'pourcentage %': 0.496}
{'price': 2, 'pourcentage %': 0.353}
- sale
{1: 414, 2: 321}
{'price': 1, 'pourcentage %': 0.262}
{'price': 2, 'pourcentage %': 0.203}

**Association rules**

In [ ]:
def max_number_sale_customer(dataframe):
  achat_par_client = {}
  for i in dataframe['session ID'].unique():
    l = []
    l.append(nationalities[dataframe['country'].loc[dataframe['session ID'] == i].unique()[0]])
    for item in list(dataframe['page 2 (clothing model)'].loc[dataframe['session ID'] == i]):
      l.append(item)
    achat_par_client[i] = l
  max = 0
  for k,v in achat_par_client.items():
    if len(v) -1 > max:
      max = len(v) -1
  return max

In [ ]:
max_all = max_number_sale_customer(df)
max_tun = max_number_sale_customer(df_tun)
max_euro = max_number_sale_customer(df_european)
max_non_euro = max_number_sale_customer(df_non_european)

In [ ]:
print(max_all, max_tun, max_euro, max_non_euro)

195 195 192 58

In [ ]:
def prepare_list(dataframe,max):
  list_columns = []
  for i in range(0, max):
    list_columns.append(i+1)
  list_achat = []
  for i in dataframe['session ID'].unique():
    l = []
    cp = 1
    for item in list(dataframe['page 2 (clothing model)'].loc[dataframe['session ID'] == i]):
      l.append(item)
      cp += 1
    for j in range(max - len(l)):
      l.append(None)
      cp +=1
    list_achat.append(l)
  ar = np.array(list_achat)
  df_result = pd.DataFrame(ar, columns = list_columns)
  return df_result

In [ ]:
df_res_all = prepare_list(df,max_all)
df_res_tun = prepare_list(df_tun,max_tun)
df_res_euro = prepare_list(df_european,max_euro)
df_res_non_euro = prepare_list(df_non_european,max_non_euro)

In [ ]:
df_res_all

       1     2     3     4     5     6    ...   190   191   192   193   194   195
0      A13   A16    B4   B17    B8   C56  ...  None  None  None  None  None  None
1      B31   B21   B24   B27   A10   A10  ...  None  None  None  None  None  None
2      B17    C4    C7   C10   C17   P77  ...  None  None  None  None  None  None
3      A34   A37    C4   C25  None  None  ...  None  None  None  None  None  None
4      C21  None  None  None  None  None  ...  None  None  None  None  None  None
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
22982   P4    P5    P8   P78  None  None  ...  None  None  None  None  None  None
22983   A2   C44   P78   P16    P5   A42  ...  None  None  None  None  None  None
22984   B4   C17  None  None  None  None  ...  None  None  None  None  None  None
22985  B23   B30   B15   B10   B12   B20  ...  None  None  None  None  None  None
22986  B27   B21   B32    B4   B13   C16  ...  None  None  None  None  None  None

[22987 rows x 195 columns]

In [ ]:
df_res_tun

       1    2     3     4     5     6    ...   190   191   192   193   194   195
0      A13  A16    B4   B17    B8   C56  ...  None  None  None  None  None  None
1      B31  B21   B24   B27   A10   A10  ...  None  None  None  None  None  None
2      A11   C5   P60   P56   P55   P48  ...  None  None  None  None  None  None
3      A18   A1   B26  None  None  None  ...  None  None  None  None  None  None
4       B4   B3    B3   B30   B27   C17  ...  None  None  None  None  None  None
...    ...  ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
18662   P4   P5    P8   P78  None  None  ...  None  None  None  None  None  None
18663   A2  C44   P78   P16    P5   A42  ...  None  None  None  None  None  None
18664   B4  C17  None  None  None  None  ...  None  None  None  None  None  None
18665  B23  B30   B15   B10   B12   B20  ...  None  None  None  None  None  None
18666  B27  B21   B32    B4   B13   C16  ...  None  None  None  None  None  None

[18667 rows x 195 columns]

In [ ]:
df_res_euro

      1     2     3     4     5     6    ...   187   188   189   190   191   192
0     B17    C4    C7   C10   C17   P77  ...  None  None  None  None  None  None
1     A34   A37    C4   C25  None  None  ...  None  None  None  None  None  None
2     C21  None  None  None  None  None  ...  None  None  None  None  None  None
3      C7   C15   C53   B17   B26  None  ...  None  None  None  None  None  None
4     C49   B23    C5   C19   C34   C40  ...  None  None  None  None  None  None
...   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
3219  A13   A14   A15   A16   A17   A18  ...  None  None  None  None  None  None
3220  A30  None  None  None  None  None  ...  None  None  None  None  None  None
3221  A11    P3   P35  None  None  None  ...  None  None  None  None  None  None
3222   C3    C5   C17   C20   C21   C24  ...  None  None  None  None  None  None
3223  A17  None  None  None  None  None  ...  None  None  None  None  None  None

[3224 rows x 192 columns]

In [ ]:
df_res_non_euro

       1     2     3     4     5     6   ...    53    54    55    56    57    58
0      A1    A2    A5  None  None  None  ...  None  None  None  None  None  None
1      A4   A15   A29  None  None  None  ...  None  None  None  None  None  None
2     A13    B9   B13   B12   A13   B10  ...  None  None  None  None  None  None
3      C1    C5    C8   C10   C17  None  ...  None  None  None  None  None  None
4     C12   C44   C44   C45   C21   C33  ...  None  None  None  None  None  None
...   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
1096  B12   B11   B19   B28  None  None  ...  None  None  None  None  None  None
1097   C5  None  None  None  None  None  ...  None  None  None  None  None  None
1098  A20    B7   C56  None  None  None  ...  None  None  None  None  None  None
1099   B4    B4   B28   B28   B21   B21  ...  None  None  None  None  None  None
1100  A12  None  None  None  None  None  ...  None  None  None  None  None  None

[1101 rows x 58 columns]

In [ ]:
def get_transaction(dataframe,max):
  transactions = []
  for i in range(0, len(dataframe)):
    transactions.append([str(dataframe.values[i,j]) for j in range(0, max) if str(dataframe.values[i,j])!="None"])
  return transactions

In [ ]:
transactions_all = get_transaction(df_res_all,max_all)
transactions_tun = get_transaction(df_res_tun,max_tun)
transactions_euro = get_transaction(df_res_euro,max_euro)
transactions_non_euro = get_transaction(df_res_non_euro,max_non_euro)

In [ ]:
def association_rules(transactions,min_supp,min_conf,min_lef):
  rules = apriori(transactions, min_support = min_supp, min_confidence = min_conf, min_lift = min_lef)
  results = list(rules)
  return results

In [ ]:
results_all = association_rules(transactions_all,min_supp=0.02,min_conf=0.45,min_lef=1)
results_tun = association_rules(transactions_tun,min_supp=0.02,min_conf=0.45,min_lef=1)
results_euro = association_rules(transactions_euro,min_supp=0.045,min_conf=0.48,min_lef=3)
results_non_euro = association_rules(transactions_non_euro,min_supp=0.013,min_conf=0.45,min_lef=1)

In [ ]:
results_all

[RelationRecord(items=frozenset({'A3', 'A2'}), support=0.03293165702353504, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A3'}), items_add=frozenset({'A2'}), confidence=0.4941253263707571, lift=4.7584662242499345)]),
 RelationRecord(items=frozenset({'A7', 'A2'}), support=0.026449732457475963, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A7'}), items_add=frozenset({'A2'}), confidence=0.46769230769230763, lift=4.5039141503657625)]),
 RelationRecord(items=frozenset({'A8', 'A2'}), support=0.026449732457475963, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A8'}), items_add=frozenset({'A2'}), confidence=0.47131782945736433, lift=4.538828213546893)]),
 RelationRecord(items=frozenset({'B12', 'B10'}), support=0.026623743855222516, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B12'}), items_add=frozenset({'B10'}), confidence=0.5008183306055646, lift=4.996662745499181)]),
 RelationRecord(items=frozenset({'B10', 'B13'}), support=0.03632487927959281, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B13'}), items_add=frozenset({'B10'}), confidence=0.4871645274212368, lift=4.860438798538182)]),
 RelationRecord(items=frozenset({'B10', 'B14'}), support=0.020968373428459565, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B14'}), items_add=frozenset({'B10'}), confidence=0.47912524850894633, lift=4.780230940744422)]),
 RelationRecord(items=frozenset({'B4', 'B2'}), support=0.021229390525079394, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B2'}), items_add=frozenset({'B4'}), confidence=0.4582159624413146, lift=3.412053880349368)]),
 RelationRecord(items=frozenset({'P1', 'P2'}), support=0.02196893896550224, ordered_statistics=[OrderedStatistic(items_base=frozenset({'P2'}), items_add=frozenset({'P1'}), confidence=0.5920281359906213, lift=6.31212929592598)]),
 RelationRecord(items=frozenset({'P1', 'P3'}), support=0.020663853482403096, ordered_statistics=[OrderedStatistic(items_base=frozenset({'P3'}), items_add=frozenset({'P1'}), confidence=0.511302475780409, lift=5.451442491078043)])]

In [ ]:
results_tun

[RelationRecord(items=frozenset({'A3', 'A2'}), support=0.02871377296833985, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A3'}), items_add=frozenset({'A2'}), confidence=0.4912923923006416, lift=5.09214607833208)]),
 RelationRecord(items=frozenset({'A7', 'A2'}), support=0.0233031553007982, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A7'}), items_add=frozenset({'A2'}), confidence=0.4535974973931179, lift=4.701446132058485)]),
 RelationRecord(items=frozenset({'A8', 'A2'}), support=0.022874591525151335, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A8'}), items_add=frozenset({'A2'}), confidence=0.46974697469746973, lift=4.86883219138127)]),
 RelationRecord(items=frozenset({'B12', 'B10'}), support=0.028338779664648844, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B12'}), items_add=frozenset({'B10'}), confidence=0.49718045112781956, lift=4.771654231980981)]),
 RelationRecord(items=frozenset({'B10', 'B13'}), support=0.03787432367279156, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B13'}), items_add=frozenset({'B10'}), confidence=0.48725017229496903, lift=4.676349082894697)]),
 RelationRecord(items=frozenset({'B10', 'B14'}), support=0.021642470670166603, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B14'}), items_add=frozenset({'B10'}), confidence=0.4775413711583924, lift=4.583169550341239)]),
 RelationRecord(items=frozenset({'B4', 'B3'}), support=0.020838913590828734, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B3'}), items_add=frozenset({'B4'}), confidence=0.45285215366705467, lift=3.3320422359097)]),
 RelationRecord(items=frozenset({'P1', 'P2'}), support=0.02592810842663524, ordered_statistics=[OrderedStatistic(items_base=frozenset({'P2'}), items_add=frozenset({'P1'}), confidence=0.5990099009900991, lift=5.508235380188266)]),
 RelationRecord(items=frozenset({'P1', 'P3'}), support=0.023678148604489205, ordered_statistics=[OrderedStatistic(items_base=frozenset({'P3'}), items_add=frozenset({'P1'}), confidence=0.5121668597914252, lift=4.709664419569721)])]

In [ ]:
results_euro

[RelationRecord(items=frozenset({'A1', 'A2'}), support=0.05117866004962779, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A1'}), items_add=frozenset({'A2'}), confidence=0.48245614035087714, lift=3.254055641195037)]),
 RelationRecord(items=frozenset({'A3', 'A2'}), support=0.059863523573200995, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A3'}), items_add=frozenset({'A2'}), confidence=0.5092348284960423, lift=3.434671730274561)]),
 RelationRecord(items=frozenset({'A5', 'A2'}), support=0.06699751861042183, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A5'}), items_add=frozenset({'A2'}), confidence=0.48979591836734687, lift=3.3035607548458708)]),
 RelationRecord(items=frozenset({'A7', 'A2'}), support=0.04590570719602978, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A7'}), items_add=frozenset({'A2'}), confidence=0.5461254612546126, lift=3.68349055875496)]),
 RelationRecord(items=frozenset({'A8', 'A2'}), support=0.047766749379652605, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A8'}), items_add=frozenset({'A2'}), confidence=0.4983818770226537, lift=3.361471070127689)]),
 RelationRecord(items=frozenset({'A3', 'A5'}), support=0.056451612903225805, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A3'}), items_add=frozenset({'A5'}), confidence=0.48021108179419525, lift=3.5106587929806925)]),
 RelationRecord(items=frozenset({'A3', 'A8'}), support=0.04652605459057072, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A8'}), items_add=frozenset({'A3'}), confidence=0.4854368932038835, lift=4.129415682557574)]),
 RelationRecord(items=frozenset({'A8', 'A5'}), support=0.049937965260545905, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A8'}), items_add=frozenset({'A5'}), confidence=0.5210355987055016, lift=3.8091128576565474)])]

In [ ]:
results_non_euro

[RelationRecord(items=frozenset({'A3', 'A2'}), support=0.025431425976385105, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A3'}), items_add=frozenset({'A2'}), confidence=0.4516129032258065, lift=4.603942652329749)]),
 RelationRecord(items=frozenset({'B10', 'B13'}), support=0.019981834695731154, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B13'}), items_add=frozenset({'B10'}), confidence=0.46808510638297873, lift=8.58936170212766)]),
 RelationRecord(items=frozenset({'B10', 'B14'}), support=0.013623978201634877, ordered_statistics=[OrderedStatistic(items_base=frozenset({'B14'}), items_add=frozenset({'B10'}), confidence=0.46875, lift=8.6015625)]),
 RelationRecord(items=frozenset({'A5', 'A10', 'A2'}), support=0.013623978201634877, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A10', 'A2'}), items_add=frozenset({'A5'}), confidence=0.6818181818181818, lift=8.071847507331379), OrderedStatistic(items_base=frozenset({'A5', 'A10'}), items_add=frozenset({'A2'}), confidence=0.6521739130434783, lift=6.648550724637681)]),
 RelationRecord(items=frozenset({'A3', 'A5', 'A2'}), support=0.018165304268846504, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A3', 'A2'}), items_add=frozenset({'A5'}), confidence=0.7142857142857143, lift=8.456221198156683), OrderedStatistic(items_base=frozenset({'A5', 'A2'}), items_add=frozenset({'A3'}), confidence=0.5714285714285715, lift=10.14746543778802), OrderedStatistic(items_base=frozenset({'A3', 'A5'}), items_add=frozenset({'A2'}), confidence=0.8695652173913044, lift=8.86473429951691)]),
 RelationRecord(items=frozenset({'A3', 'A7', 'A2'}), support=0.013623978201634877, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A3', 'A2'}), items_add=frozenset({'A7'}), confidence=0.5357142857142857, lift=8.426020408163266), OrderedStatistic(items_base=frozenset({'A7', 'A2'}), items_add=frozenset({'A3'}), confidence=0.6, lift=10.654838709677419), OrderedStatistic(items_base=frozenset({'A3', 'A7'}), items_add=frozenset({'A2'}), confidence=0.8333333333333334, lift=8.49537037037037)]),
 RelationRecord(items=frozenset({'A7', 'A5', 'A2'}), support=0.014532243415077202, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A5', 'A2'}), items_add=frozenset({'A7'}), confidence=0.4571428571428572, lift=7.190204081632654), OrderedStatistic(items_base=frozenset({'A7', 'A2'}), items_add=frozenset({'A5'}), confidence=0.64, lift=7.576774193548387), OrderedStatistic(items_base=frozenset({'A7', 'A5'}), items_add=frozenset({'A2'}), confidence=0.6956521739130435, lift=7.091787439613526)]),
 RelationRecord(items=frozenset({'A3', 'A7', 'A5'}), support=0.013623978201634877, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A3', 'A5'}), items_add=frozenset({'A7'}), confidence=0.6521739130434783, lift=10.25776397515528), OrderedStatistic(items_base=frozenset({'A3', 'A7'}), items_add=frozenset({'A5'}), confidence=0.8333333333333334, lift=9.865591397849464), OrderedStatistic(items_base=frozenset({'A7', 'A5'}), items_add=frozenset({'A3'}), confidence=0.6521739130434783, lift=11.581346423562414)])]

In [ ]:
def inspect(results):
    li          = [tuple(result[2][0][0])[0] for result in results]
    ri          = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(li, ri, supports, confidences, lifts))

In [ ]:
def get_resultsinDataFrame(results):
  return pd.DataFrame(inspect(results), columns = ['Left Item', 'Right Item', 'Support', 'Confidence', 'Lift'])

In [ ]:
resultsinDataFrame_all = get_resultsinDataFrame(results_all)
resultsinDataFrame_tun = get_resultsinDataFrame(results_tun)
resultsinDataFrame_euro = get_resultsinDataFrame(results_euro)
resultsinDataFrame_non_euro = get_resultsinDataFrame(results_non_euro)

In [ ]:
resultsinDataFrame_all

  Left Item Right Item   Support  Confidence      Lift
0        A3         A2  0.032932    0.494125  4.758466
1        A7         A2  0.026450    0.467692  4.503914
2        A8         A2  0.026450    0.471318  4.538828
3       B12        B10  0.026624    0.500818  4.996663
4       B13        B10  0.036325    0.487165  4.860439
5       B14        B10  0.020968    0.479125  4.780231
6        B2         B4  0.021229    0.458216  3.412054
7        P2         P1  0.021969    0.592028  6.312129
8        P3         P1  0.020664    0.511302  5.451442

In [ ]:
resultsinDataFrame_tun

  Left Item Right Item   Support  Confidence      Lift
0        A3         A2  0.028714    0.491292  5.092146
1        A7         A2  0.023303    0.453597  4.701446
2        A8         A2  0.022875    0.469747  4.868832
3       B12        B10  0.028339    0.497180  4.771654
4       B13        B10  0.037874    0.487250  4.676349
5       B14        B10  0.021642    0.477541  4.583170
6        B3         B4  0.020839    0.452852  3.332042
7        P2         P1  0.025928    0.599010  5.508235
8        P3         P1  0.023678    0.512167  4.709664

In [ ]:
resultsinDataFrame_euro

  Left Item Right Item   Support  Confidence      Lift
0        A1         A2  0.051179    0.482456  3.254056
1        A3         A2  0.059864    0.509235  3.434672
2        A5         A2  0.066998    0.489796  3.303561
3        A7         A2  0.045906    0.546125  3.683491
4        A8         A2  0.047767    0.498382  3.361471
5        A3         A5  0.056452    0.480211  3.510659
6        A8         A3  0.046526    0.485437  4.129416
7        A8         A5  0.049938    0.521036  3.809113

In [ ]:
resultsinDataFrame_non_euro

  Left Item Right Item   Support  Confidence       Lift
0        A3         A2  0.025431    0.451613   4.603943
1       B13        B10  0.019982    0.468085   8.589362
2       B14        B10  0.013624    0.468750   8.601562
3       A10         A5  0.013624    0.681818   8.071848
4        A3         A5  0.018165    0.714286   8.456221
5        A3         A7  0.013624    0.535714   8.426020
6        A5         A7  0.014532    0.457143   7.190204
7        A3         A7  0.013624    0.652174  10.257764

**Prediction**

In [ ]:
new_df = df

In [ ]:
d = {}
i=1
for item in df["page 2 (clothing model)"].unique():
  d[item]= i
  i +=1
d #the new name

Convert the model  into numerical value

In [ ]:
d1 = []
for item in new_df["page 2 (clothing model)"]:
  d1.append(d[item]) #call the item

In [ ]:
new_df.drop(columns=['page 2 (clothing model)']) #delete non numerical

        year  month  day  order  ...  model photography  price  price 2  page
0       2021      4    1      1  ...                  1     28        2     1
1       2021      4    1      2  ...                  1     33        2     1
2       2021      4    1      3  ...                  1     52        1     1
3       2021      4    1      4  ...                  2     38        2     1
4       2021      4    1      5  ...                  2     52        1     1
...      ...    ...  ...    ...  ...                ...    ...      ...   ...
157796  2021      8    6     15  ...                  1     62        1     2
157797  2021      8    6     16  ...                  1     28        2     3
157798  2021      8    6     17  ...                  1     55        1     2
157799  2021      8    6     18  ...                  1     43        2     1
157800  2021      8    6     19  ...                  1     38        2     1

[157801 rows x 13 columns]

In [ ]:
new_df['page 2 (clothing model)'] = d1

In [ ]:
new_df

        year  month  day  order  ...  model photography  price  price 2  page
0       2021      4    1      1  ...                  1     28        2     1
1       2021      4    1      2  ...                  1     33        2     1
2       2021      4    1      3  ...                  1     52        1     1
3       2021      4    1      4  ...                  2     38        2     1
4       2021      4    1      5  ...                  2     52        1     1
...      ...    ...  ...    ...  ...                ...    ...      ...   ...
157796  2021      8    6     15  ...                  1     62        1     2
157797  2021      8    6     16  ...                  1     28        2     3
157798  2021      8    6     17  ...                  1     55        1     2
157799  2021      8    6     18  ...                  1     43        2     1
157800  2021      8    6     19  ...                  1     38        2     1

[157801 rows x 14 columns]

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X=new_df[['year', 'month', 'day','order','country','session ID','page 1 (main category)','page 2 (clothing model)','colour','location','model photography','price','page']]
y=new_df['price 2']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)  #number of trees

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0